#PresenterWindow {
}

#PresenterWindow GtkPaned .pane-separator {
}

#PresenterWindow GtkFrame {
}

#PresenterWindow GtkEntry {
	font-size: 32pt;
}

.frame-label {
}

.info-label {
    opacity: 1;
    font-size: 32pt;
}

.time-warn {
    animation: blinker 250ms cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

#MenuBar,
#MenuBar * {
}
#MenuBar *:hover {
}
