#PresenterWindow {
}

#PresenterWindow GtkPaned .pane-separator {
}

#PresenterWindow GtkFrame {
}

#PresenterWindow GtkListBox {
    background-color: transparent;
}

#PresenterWindow GtkListBox GtkLabel {
    font-size: 130%;
}

#PresenterWindow GtkEntry {
	font-size: 14pt;
}

.frame-label {
}

.info-label {
    opacity: 1;
    font-size: 20pt;
}

.ett-reached {
    color: #64c864;
}
.ett-info {
    color: #FFBF00;
}
.ett-warn {
    color: #FF0000;
}
.time-warn {
    animation: blinker 250ms cubic-bezier(.5, 0, 1, 1) infinite alternate;
}
@keyframes blinker {
  from { opacity: 1; }
  to { opacity: 0; }
}

#MenuBar,
#MenuBar * {
}
#MenuBar *:hover {
}
